:root {
  --primary-color: #0055FF;
  --light-grey : #EEEEEE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  background-color: #e3ecf5;
}

p {
  font-weight: 500;
  font-size: 12px;
}

a {
  margin: 0 5px; 
  padding: 15px;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
}

i {
  font-size: 1.3rem;
  color: var(--primary-color);
}

.btn {
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
  font-size: 10px;
  color: #fff;
  padding: 15px;
  background-color: #2ECC71;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Container */
#container {
  display: flex;
}

/* Multiline codes */
nav,
#main-menu, 
#account-page,
#logout, 
#user-profile,
#sections,
section{
  background-color: #fff;
  border-radius: 20px;
}

/* Navigation Menu */
nav {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  width: 100vw;
  z-index: 2;
  border-radius: 0;
}

#logo a{
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 700;
  margin-right: 100px;
}

#middle-menu {
  display: flex;
  margin-right: 280px;
}

#middle-menu ul li {
  display: inline-block;
  flex-direction: row;
}

#middle-menu a 
{
  background-color: var(--light-grey);
}

#middle-menu i {
  color: #888;
  font-size: 1rem;
  padding: 10px 5px;
}

#search {
  background-color: var(--light-grey);
  padding: 2px;
  display: flex;
  place-items: center;
  border-radius: 30px;
}

#search i {
  color: #ced4da;
  padding: 0 10px;
}

#search input {
  border: none;
  background-color: var(--light-grey);
  min-width: 300px;
}

/* Sidebar Menu */
#sidebar-menu {
  margin: 65px 0 0 15px;
  overflow-y: scroll;
}

#sidebar-menu::-webkit-scrollbar {
  background-color: inherit;
  width: 0.15em;
}

#sidebar-menu::-webkit-scrollbar-thumb {
  width: 0.2em;
  background-color: #777777;
}

#sidebar-menu #main-menu, 
#sidebar-menu #account-page,
#sidebar-menu #logout {
  margin: 10px 15px;
  padding: 10px 5px;
}

li {
  margin: 5px auto ;
  list-style: none;
}

#sidebar-menu p, a {
  color: #888888;
  font-size: 1rem;
}

#sidebar-menu a:hover {
  cursor: pointer;
  color: var(--primary-color);
}

#sidebar-menu p {
  font-size: 12px;
  padding: 10px 25px;
}

#sidebar-menu i {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 1rem;
}

#sidebar-menu #main-menu i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
}

#sidebar-menu #account-page i {
  font-size: 1.4rem;
}

#sidebar-menu .fa-house, 
#sidebar-menu .fa-globe {
  background: linear-gradient(135deg, #05f, #09f) !important;
}

#sidebar-menu .fa-calendar {
  background: linear-gradient(90deg, #ee0979, #ff6a00) !important;
}

#sidebar-menu .fa-location-dot {
  background: linear-gradient(90deg, #f2994a, #f2c94c) !important;
}

#sidebar-menu .fa-user {
  background: linear-gradient(90deg, #0575e6, #021b79) !important;
}

#sidebar-menu .fa-user-group {
  background: linear-gradient(90deg, #e44d26, #f16529) !important;
}

/* Main */
#main {
  margin: 95px auto auto auto;
}

/* User Profile */
#user-profile {
  padding: 10px;
}

#user-profile,
#cover,
#user-profile span {
font-weight: bold;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

/* Cover */
#user-profile #cover {
  background: url(img/Screenshot2023-06-24195031.png) no-repeat ;
  width: 100%;
  height: 250px;
  position: relative; 
  border-radius: 15px;
}

#user-profile #cover a {
  position: absolute;
}

/* Cover middle */
#cover-middle {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 10px 10px;
}

/* Profile image */
#profile {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: -7%;
  z-index: 1;
  border-radius: 50%;
}

#profile #white-bg {
  background-color: #fff;
  padding: 2px 4px;
  border-radius: 50%;
}

#profile i {
  padding: 8px;
  color: #fff;
  background: linear-gradient(320deg, #ee0979 0%, #0055FF 100%);
  border-radius: 50%;
  font-size: 40px;
  margin-bottom: 5px;
}

.right i {
  font-size: 1rem;
  color: #333;
}

.right #notifications {
  border: none;
  background-color: var(--light-grey);
  padding: 10px;
  border-radius: 5px;
  margin-left: 1px;
}

#sections {
  margin-top: 1px;
  padding: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#sections a {
  font-size: 0.7rem;
}

.current {
  color: #000;
}

/* Content */
#main #content {
  display: flex;
  margin-top: 15px;
}

article:nth-of-type(1) {
  max-width: 250px;
  margin-right: 20px;
}

article:nth-of-type(2) {
  width: 400px;
}

section {
  padding: 20px;
  margin-bottom: 1px;
}

section:nth-of-type(1),
section:nth-of-type(2) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

section:nth-of-type(2),
section:nth-of-type(3) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

section:nth-of-type(2) {
  display: flex;
  place-items: center;
}

section:nth-of-type(2) i{
  color: #888;
  margin-right: 10px;
}

#right-content section {
  border-radius: 20px;
  background-color: rgb(218, 231, 245);
}

#right-content form {
  display: flex;
  flex-direction: column;
  color: #888;
  font-weight: 500;
  font-size: 0.7rem;
}

#right-content form i {
  margin: 20px;
}

.fa-pen {
  background-color: var(--light-grey);
  padding: 10px;
  border-radius: 50%;
}

.fa-image {
  color: #2ECC71;
}

#right-content form textarea {
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 10px;
  height: 80px;
}

